@import url("estilos/header.css");
@import url("estilos/conteudo.css");
@import url("estilos/rensposividade.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
 
:root {
    --font: 'Raleway', sans-serif;
    --header: #635943;
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    font-family: var(--font);
}