.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

.agenda__lista {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.botao {
    align-items: center;
    justify-content: center;
}



.agenda__atracao {
    
}

.agenda__item {
    display: grid;  
    grid-template-columns: 300px 500px;
    grid-template-rows: 120px 120px;
}

.agenda__informacoes {
    grid-row: 2;
}

.agenda__atracao {
    grid-row: 1;
}



@media (min-width: 720px) {
       
}