.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

.agenda__lista {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.botao {
    align-items: center;
    justify-content: center;
}



.agenda__atracao {
    
}

.agenda__item {
    flex-grow: 2;
}

@media (min-width: 720px) {

}