.conteudo__principal {
    display: flex;
    justify-content: space-between;
    
}

.divisao1__sessao1 {
    padding: 5px;
    margin: 5px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.5em;
}

.informacao {
    font-family: var(--font);
    font-size: 18px;
    margin: 15px;   
}

.imagem__gojo {
    margin: 10px 50px 0px 0px;
}

.sessao3 {
    padding: 15px;
  text-align: center;
  background-color: #272727;
  margin: 20px;
}

.lista {
    display: grid; 
    gap: 5px;
    margin: 10px 0px 10px 30px;
}

.lista__conteudo {
     line-height: 1.4em;
}

