.cabecalho {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--header);
    padding: 15px;
}

.lista {
    display: none;
    line-height: 2em;
    text-align: left;
    padding: 12px;
    margin: 5px;
    background-color: #2a210f ;
    color: white;
    text-align: center;
    border-radius: 3px;
}

a {
    color: white;
}

.lista__conteudo {
    display: flex;
    padding: 7px;
    line-height: 2em;
    margin-right: 40px; 
}

.menu {
    display: none;
}


