.cabecalho {
    background-color: black;
    color: white;
}

.cabecalho__titulo {
    text-align: center;
}

.cabecalho__link  {
   display: none;
}
.menu {
    background-image: url(../img/Menu.svg);
    height: 24px;
    width: 24px;
    display: inline-block;
    color: white;
    background-color: white;
}